<h1>
  <%= @user.username %>
  <small>
    <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_user_url(@user) %>
    <%= link_to '<i class="icon-trash"></i>'.html_safe, @user, method: 'delete', data: { confirm: "Do you really want to delete this user?" } %>
  </small>
</h1>

<ul class="videos">
  <% @posts.each do |post| %>
    <li>
      <h2>
        <%= post['from']['name'] %>
        <small><%= time_ago_in_words(post['created_time']) %></small>
      </h2>
      <blockquote>
        <%= post['message'] %>
      </blockquote>

      <% if post['link'].split('.').include? 'youtube' %>
        <div>
          <iframe width="560" height="315" src="//www.youtube.com/embed/<%= post['link'].split('=').last %>" frameborder="0" allowfullscreen></iframe>
        </div>
      <% else %>
        <%= link_to 'Click here to view video', post['link'], target: '_blank' %>
      <% end %>
    </li>
  <% end %>
</ul>
